div{
    height:100px;
    width:100px;
    background-color:yellow;
    border-width:2px;
    border-style: solid;
    border-color: black;
    /* widhth:50px; */
}

   h1{ height:50px;
    width:200px;
    background-color:orange; 
     border:3px dashed black; 
    border-width:3px; 
    border-style: dashed;
     border-color: darkgreen; 

}